

body {
    background-image: url("/images/backgroundPicStars.jpg");
    position: relative;
    background-size: cover;
}

#nomenclature {
    color: white;
    text-shadow: -.2px -.2px 0 red, .2px -.2px 0 red, -.2px .2px 0 red, .2px .2px 0 red;
    margin: 25px;
    font-family: Oswald, "Times New Roman", sans-serif;
    font-size: 15px;
    text-align: center;
    

}

#header {
    /*display: inline-flex;*/
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -.25px -.25px 0 red, .25px -.25px 0 red, -.25px .25px 0 red, .25px .25px 0 red;
    margin: 35px;
    text-align: center;
}

#header img {
    
    border-radius: 90%;
    width: 150px;
    height: 150px;
        
}

#educationHeader {
    font-family: Roboto, Oswald, Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: -.2px -.2px 0 red, .2px -.2px 0 red, -.2px .2px 0 red, .2px .2px 0 red;
    text-align: center;
}

.education1 {
    color: white;
    text-shadow: -.2px -.2px 0 red, .2px -.2px 0 red, -.2px .2px 0 red, .2px .2px 0 red;
}

#projectsHeader {
    text-align: center;
    color: white;
    text-shadow: -.2px -.2px 0 red, .2px -.2px 0 red, -.2px .2px 0 red, .2px .2px 0 red;
    
}

.projList li {
    text-align: center;
    color: yellow;
}

.projList a {
    color: yellow;
}


#links {
    margin: 50px;
    text-align: center;
}

#links img {
    
    background-color: white;
    width: 75px;
    height: 30px;

}

footer {
    color: white;
    text-align: center;
}